@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --body-bg-light: hsl(0, 4%, 87%);
  --body-bg-dark: hsl(207, 26%, 17%);
  --light-common: hsl(0, 0%, 100%);
  --dark-common: hsl(209, 23%, 22%);
  --light-text: hsl(200, 15%, 8%);
}

li {
  list-style: none;
}

/* BODY AND ITS STATES */

body {
  background-color: var(--body-bg-light);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300 !important;
}

.bg-light {
  background-color: var(--body-bg-light) !important;
  color: var(--light-text);
}

.bg-dark {
  background-color: var(--body-bg-dark) !important;
  color: var(--light-common);
}

/* HEADER */

header {
  background-color: hsl(0, 0%, 100%);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px black;
}

header h1 {
  font-weight: 800;
  font-size: xx-large;
}

header #mode {
  font-size: medium;
}

header .lighten:hover {
  background-color: var(--dark-common) !important;
  color: var(--light-common) !important;
}

header .darken:hover {
  background-color: var(--light-common) !important;
  color: var(--light-text) !important;
}

header #mode #switch {
  font-weight: 600;
}

header #mode .fa-solid {
  margin-right: 5px;
}

.main {
  margin-top: 30px;
}

/* FORM */

form {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

form .search-box {
  width: 30%;
}

form .search-box .input-group {
  width: 100%;
}

form .form-select {
  width: 30%;
}

.input-group-addon {
  background-color: var(--light-common) !important;
}

::placeholder {
  font-size: medium !important;
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Content */

#content {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

#content .tile {
  text-align: left;
  margin: 10px;
  padding: 0 !important;
  border: 0;
  box-shadow: -3px 3px 5px black;
}

#content .tile:hover {
  opacity: 0.8;
}

#content .tile:active {
  scale: 0.95;
}

#content .tile img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

#content .tile {
  border-radius: 10px;
}

#content .tile .detail {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 0.8rem;
  padding: 0 15px;
  width: 100%;
  overflow-wrap: break-word;
}

#content .tile .detail .random {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 800;
  word-break: break-all;
}

/* SELECTED COUNTRY */

.picked {
  padding: 30px;
}

.picked .btn {
  width: 110px;
  height: 35px;
  box-shadow: 3px 3px 5px black;
}

.picked .btn,
.picked .btn:focus,
.picked .btn:active {
  outline: none !important;
  border: none !important;
}

.picked .unique {
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 16px;
}

.picked .unique img {
  width: 50%;
  height: 450px;
}

.picked .unique .side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 450px;
  gap: 2rem;
}

.picked .unique .side .more-info .info {
  display: flex;
  gap: 3rem;
}

.picked .unique .side .more-info .info .info1 {
  width: 60%;
}

.picked .unique .side .more-info .info-head {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 800;
}

.picked .unique .side .borders {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.picked .unique .side .borders .count {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
}

.picked .unique .side .borders .count .block {
  padding: 10px;
  background-color: var(--light-common);
}

.message {
  margin-top: 7rem;
  text-align: center;
  font-size: 1.5rem;
  color: darkred !important;
}

.message .inner-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.message .inner-msg .note {
  padding: 0 10px;
  color: black;
}

.message .sizer {
  font-size: 2rem;
  padding-right: 20px;
}

/* EXTRA */
.none {
  display: none !important;
}

.bold {
  font-weight: 600;
}

.light {
  background-color: var(--light-common) !important;
  color: var(--light-text) !important;
}

.dark {
  background-color: var(--dark-common) !important;
  color: var(--light-common) !important;
}

/* FOOTER */

footer {
  text-align: center;
}

.attribution {
  margin: 50px auto 20px auto;
  font-size: 13px;
}

.copy {
  font-weight: 600;
}

.attribution a {
  color: orange;
}

.attribution a:visited {
  color: brown;
}

/* MEDIA QUERIES */

@media screen and (max-width: 770px) {
  #content {
    grid-template-columns: repeat(2, 300px);
  }
  .picked .unique {
    flex-direction: column;
  }

  .picked .unique img {
    width: 100%;
  }

  .picked .unique .side {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  form {
    flex-direction: column;
    align-items: flex-start;
  }

  form .search-box {
    width: 80%;
  }

  form .form-select {
    width: 50%;
  }

  #content {
    grid-template-columns: repeat(1, 1fr);
  }

  .picked .unique .side .more-info .info {
    flex-direction: column;
  }

  .message .inner-msg {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: 370px) {
  .picked .unique img {
    margin-bottom: 70px;
  }
}
